In [548]:
# Uncomment the pip install code below if you haven't installed these libraries yet
#pip install pandas
#pip install zipfile
#pip install kaggle

# import the pandas library
import pandas as pd

# import zipfile library (we will use this to extract the file downloaded from Kaggle)
import zipfile

# import kaggle library (we will use this to download the dataset programatically from Kaggle)
import kaggle

In [549]:
# download dataset from kaggle using the Kaggle API

#!kaggle datasets download -d brianmendieta/uncleaned-data

# Forcing to download the dataset to overwrite the recently downloaded dataset
!kaggle datasets download -d brianmendieta/uncleaned-data --force

Dataset URL: https://www.kaggle.com/datasets/brianmendieta/uncleaned-data
License(s): Apache 2.0
Downloading uncleaned-data.zip to c:\Users\thapa\OneDrive\Desktop\Portfolio Website\Projects\Project 1

  0%|          | 0.00/794k [00:00<?, ?B/s]
100%|██████████| 794k/794k [00:00<00:00, 5.14MB/s]
100%|██████████| 794k/794k [00:00<00:00, 5.14MB/s]

In [550]:
# extract the file from the downloaded zip file
zipfile_name = 'uncleaned-data.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [551]:
# read in the csv file as a pandas dataframe
df = pd.read_csv("Uncleaned_DS_jobs.csv")

In [552]:
# explore the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [553]:
#Dropping columns that will not be used in this project
df = df.drop(['Job Description', 'Location', 'Headquarters', 'Founded', 'Competitors'], axis = 1)

In [554]:
# explore new data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Rating             672 non-null    float64
 4   Company Name       672 non-null    object
 5   Size               672 non-null    object
 6   Type of ownership  672 non-null    object
 7   Industry           672 non-null    object
 8   Sector             672 non-null    object
 9   Revenue            672 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 52.6+ KB

In [555]:
#Updating the Header name
df = df.rename(columns={'index':'Index', 'Rating':'Company Rating', 'Size':'Company Size', 'Type of ownership':'Type', 'Salary Estimate':'Salary Estimate (In USD)', 'Revenue':'Revenue (in USD)'})
df

,Index,Job Title,Salary Estimate (In USD),Company Rating,Company Name,Company Size,Type,Industry,Sector,Revenue (in USD)
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),3.1,Healthfirst\n3.1,1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,1,Data Scientist,$137K-$171K (Glassdoor est.),4.2,ManTech\n4.2,5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,2,Data Scientist,$137K-$171K (Glassdoor est.),3.8,Analysis Group\n3.8,1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,3,Data Scientist,$137K-$171K (Glassdoor est.),3.5,INFICON\n3.5,501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,4,Data Scientist,$137K-$171K (Glassdoor est.),2.9,Affinity Solutions\n2.9,51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
5,5,Data Scientist,$137K-$171K (Glassdoor est.),4.2,HG Insights\n4.2,51 to 200 employees,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable
6,6,Data Scientist / Machine Learning Expert,$137K-$171K (Glassdoor est.),3.9,Novartis\n3.9,10000+ employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD)
7,7,Data Scientist,$137K-$171K (Glassdoor est.),3.5,iRobot\n3.5,1001 to 5000 employees,Company - Public,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD)
8,8,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),4.4,Intuit - Data\n4.4,5001 to 10000 employees,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD)
9,9,Data Scientist,$137K-$171K (Glassdoor est.),3.6,XSELL Technologies\n3.6,51 to 200 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable
10,10,Data Scientist,$137K-$171K (Glassdoor est.),4.5,Novetta\n4.5,501 to 1000 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD)
11,11,Data Scientist,$137K-$171K (Glassdoor est.),4.7,1904labs\n4.7,51 to 200 employees,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...
660,660,Data Scientist,$105K-$167K (Glassdoor est.),-1.0,Pactera Edge,-1,-1,-1,-1,-1
661,661,Data Scientist,$105K-$167K (Glassdoor est.),3.6,Qurate Retail Group\n3.6,10000+ employees,Company - Public,Other Retail Stores,Retail,Unknown / Non-Applicable
662,662,Data Scientist,$105K-$167K (Glassdoor est.),4.4,"SolutionIT, Inc.\n4.4",51 to 200 employees,Company - Private,-1,-1,Unknown / Non-Applicable
663,663,Data Scientist,$105K-$167K (Glassdoor est.),4.1,A-Line Staffing Solutions\n4.1,501 to 1000 employees,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable
664,664,Data Scientist,$105K-$167K (Glassdoor est.),-1.0,Clear Ridge Defense,1 to 50 employees,Company - Private,-1,-1,Unknown / Non-Applicable
665,665,Data Scientist,$105K-$167K (Glassdoor est.),3.8,"Criterion Systems, Inc.\n3.8",201 to 500 employees,Company - Private,IT Services,Information Technology,$50 to $100 million (USD)
666,666,Data Scientist,$105K-$167K (Glassdoor est.),4.0,Foundation Medicine\n4.0,1001 to 5000 employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD)
667,667,Data Scientist,$105K-$167K (Glassdoor est.),3.6,TRANZACT\n3.6,1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
668,668,Data Scientist,$105K-$167K (Glassdoor est.),-1.0,JKGT,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),-1.0,AccessHope,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),5.0,ChaTeck Incorporated\n5.0,1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD)
671,671,Data Scientist,$105K-$167K (Glassdoor est.),2.7,1-800-Flowers\n2.7,1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD)

In [556]:
# Replacing all '-1' values of the dataset with NULL
df['Company Rating'] = df['Company Rating'].astype('float')
df= df.replace(['-1', -1.0] ,'')
df

,Index,Job Title,Salary Estimate (In USD),Company Rating,Company Name,Company Size,Type,Industry,Sector,Revenue (in USD)
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),3.1,Healthfirst\n3.1,1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,1,Data Scientist,$137K-$171K (Glassdoor est.),4.2,ManTech\n4.2,5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,2,Data Scientist,$137K-$171K (Glassdoor est.),3.8,Analysis Group\n3.8,1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,3,Data Scientist,$137K-$171K (Glassdoor est.),3.5,INFICON\n3.5,501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,4,Data Scientist,$137K-$171K (Glassdoor est.),2.9,Affinity Solutions\n2.9,51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
5,5,Data Scientist,$137K-$171K (Glassdoor est.),4.2,HG Insights\n4.2,51 to 200 employees,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable
6,6,Data Scientist / Machine Learning Expert,$137K-$171K (Glassdoor est.),3.9,Novartis\n3.9,10000+ employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD)
7,7,Data Scientist,$137K-$171K (Glassdoor est.),3.5,iRobot\n3.5,1001 to 5000 employees,Company - Public,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD)
8,8,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),4.4,Intuit - Data\n4.4,5001 to 10000 employees,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD)
9,9,Data Scientist,$137K-$171K (Glassdoor est.),3.6,XSELL Technologies\n3.6,51 to 200 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable
10,10,Data Scientist,$137K-$171K (Glassdoor est.),4.5,Novetta\n4.5,501 to 1000 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD)
11,11,Data Scientist,$137K-$171K (Glassdoor est.),4.7,1904labs\n4.7,51 to 200 employees,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...
660,660,Data Scientist,$105K-$167K (Glassdoor est.),,Pactera Edge,,,,,
661,661,Data Scientist,$105K-$167K (Glassdoor est.),3.6,Qurate Retail Group\n3.6,10000+ employees,Company - Public,Other Retail Stores,Retail,Unknown / Non-Applicable
662,662,Data Scientist,$105K-$167K (Glassdoor est.),4.4,"SolutionIT, Inc.\n4.4",51 to 200 employees,Company - Private,,,Unknown / Non-Applicable
663,663,Data Scientist,$105K-$167K (Glassdoor est.),4.1,A-Line Staffing Solutions\n4.1,501 to 1000 employees,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable
664,664,Data Scientist,$105K-$167K (Glassdoor est.),,Clear Ridge Defense,1 to 50 employees,Company - Private,,,Unknown / Non-Applicable
665,665,Data Scientist,$105K-$167K (Glassdoor est.),3.8,"Criterion Systems, Inc.\n3.8",201 to 500 employees,Company - Private,IT Services,Information Technology,$50 to $100 million (USD)
666,666,Data Scientist,$105K-$167K (Glassdoor est.),4.0,Foundation Medicine\n4.0,1001 to 5000 employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD)
667,667,Data Scientist,$105K-$167K (Glassdoor est.),3.6,TRANZACT\n3.6,1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
668,668,Data Scientist,$105K-$167K (Glassdoor est.),,JKGT,,,,,
669,669,Data Scientist,$105K-$167K (Glassdoor est.),,AccessHope,,,,,
670,670,Data Scientist,$105K-$167K (Glassdoor est.),5.0,ChaTeck Incorporated\n5.0,1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD)
671,671,Data Scientist,$105K-$167K (Glassdoor est.),2.7,1-800-Flowers\n2.7,1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD)

In [557]:
#Cleaning Job Titles
#All Data Engineering job titles renamed as 'Data Engineer'
df.loc[df['Job Title'].str.contains('Engineer', case=False), 'Job Title'] = 'Data Engineer'

#All Data Scientist job titles renamed as 'Data Scientist'
df.loc[df['Job Title'].str.contains('Scientist', case=False), 'Job Title'] = 'Data Scientist'

#All Data Analyst job titles renamed as 'Data Analyst'
df.loc[df['Job Title'].str.contains('Analyst', case=False), 'Job Title'] = 'Data Analyst'

#All other job titles renamed as 'other'
df.loc[~df['Job Title'].str.contains('Data Engineer|Data Scientist|Data Analyst', case=False), 'Job Title'] = 'Other'

In [558]:
#Explore the jobs with new titles
df['Job Title'].value_counts()

Job Title
Data Scientist    502
Data Engineer      96
Data Analyst       54
Other              20
Name: count, dtype: int64

In [559]:
#Extracting MAX salary 

df['Salary Estimate (In USD)'] = df['Salary Estimate (In USD)'].str.split(pat = '-').str[1]
df['Salary Estimate (In USD)'] = df['Salary Estimate (In USD)'].str.split(pat = 'K').str[0]

# Removing 'K' and getting the salary in thousands
df['Salary Estimate (In USD)'] = df['Salary Estimate (In USD)'].str.split(pat = '$').str[1] + '000'

#Converting the salary field to data type 'int'
df['Salary Estimate (In USD)'].astype('int')

0      171000
1      171000
2      171000
3      171000
4      171000
5      171000
6      171000
7      171000
8      171000
9      171000
10     171000
11     171000
        ...
660    167000
661    167000
662    167000
663    167000
664    167000
665    167000
666    167000
667    167000
668    167000
669    167000
670    167000
671    167000
Name: Salary Estimate (In USD), Length: 672, dtype: int32

In [560]:
df['Company Name'].value_counts()

Company Name
Hatch Data Inc                                12
Maxar Technologies\n3.5                       12
Tempus Labs\n3.3                              11
AstraZeneca\n4.0                              10
Klaviyo\n4.8                                   8
Phoenix Operations Group\n5.0                  7
Autodesk\n4.0                                  7
Southwest Research Institute\n3.9              6
Novetta\n4.5                                   6
MassMutual\n3.7                                5
Novartis\n3.9                                  5
Mars\n3.9                                      4
                                              ..
Pacific Northwest National Laboratory\n3.7     1
The Drive Media, Inc.\n5.0                     1
Battelle\n3.1                                  1
Rapid Value Solutions\n3.9                     1
Insider Inc\n3.3                               1
Gallup\n4.1                                    1
Parker Hannifin\n3.3                           1
Better Hire\n4.0                               1
Rincon Research Corporation\n4.2               1
Descript\n4.3                                  1
Trace Data\n3.9                                1
ChaTeck Incorporated\n5.0                      1
Name: count, Length: 432, dtype: int64

In [561]:
#Cleaning Company Size
#All Data Engineering job titles renamed as 'Data Engineer'
df['Company Size'] = df['Job Title'].str.replace('Analyst', 'computer', case=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Index                     672 non-null    int64
 1   Job Title                 672 non-null    object
 2   Salary Estimate (In USD)  672 non-null    object
 3   Company Rating            672 non-null    object
 4   Company Name              672 non-null    object
 5   Company Size              672 non-null    object
 6   Type                      672 non-null    object
 7   Industry                  672 non-null    object
 8   Sector                    672 non-null    object
 9   Revenue (in USD)          672 non-null    object
dtypes: int64(1), object(9)
memory usage: 52.6+ KB

In [562]:
# Updating 'Company Name'
df['Company Name'] = df['Company Name'].str.split(pat = '\n').str[0]
df

,Index,Job Title,Salary Estimate (In USD),Company Rating,Company Name,Company Size,Type,Industry,Sector,Revenue (in USD)
0,0,Data Scientist,171000,3.1,Healthfirst,Data Scientist,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,1,Data Scientist,171000,4.2,ManTech,Data Scientist,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,2,Data Scientist,171000,3.8,Analysis Group,Data Scientist,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,3,Data Scientist,171000,3.5,INFICON,Data Scientist,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,4,Data Scientist,171000,2.9,Affinity Solutions,Data Scientist,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
5,5,Data Scientist,171000,4.2,HG Insights,Data Scientist,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable
6,6,Data Scientist,171000,3.9,Novartis,Data Scientist,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD)
7,7,Data Scientist,171000,3.5,iRobot,Data Scientist,Company - Public,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD)
8,8,Data Scientist,171000,4.4,Intuit - Data,Data Scientist,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD)
9,9,Data Scientist,171000,3.6,XSELL Technologies,Data Scientist,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable
10,10,Data Scientist,171000,4.5,Novetta,Data Scientist,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD)
11,11,Data Scientist,171000,4.7,1904labs,Data Scientist,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...
660,660,Data Scientist,167000,,Pactera Edge,Data Scientist,,,,
661,661,Data Scientist,167000,3.6,Qurate Retail Group,Data Scientist,Company - Public,Other Retail Stores,Retail,Unknown / Non-Applicable
662,662,Data Scientist,167000,4.4,"SolutionIT, Inc.",Data Scientist,Company - Private,,,Unknown / Non-Applicable
663,663,Data Scientist,167000,4.1,A-Line Staffing Solutions,Data Scientist,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable
664,664,Data Scientist,167000,,Clear Ridge Defense,Data Scientist,Company - Private,,,Unknown / Non-Applicable
665,665,Data Scientist,167000,3.8,"Criterion Systems, Inc.",Data Scientist,Company - Private,IT Services,Information Technology,$50 to $100 million (USD)
666,666,Data Scientist,167000,4.0,Foundation Medicine,Data Scientist,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD)
667,667,Data Scientist,167000,3.6,TRANZACT,Data Scientist,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
668,668,Data Scientist,167000,,JKGT,Data Scientist,,,,
669,669,Data Scientist,167000,,AccessHope,Data Scientist,,,,
670,670,Data Scientist,167000,5.0,ChaTeck Incorporated,Data Scientist,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD)
671,671,Data Scientist,167000,2.7,1-800-Flowers,Data Scientist,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD)

In [563]:
#Updating Company Size
df['Company Size'] = df['Company Size'].replace(['-1','Unknown'],'Very Large')
df['Company Size'] = df['Company Size'].replace(['5001 to 10000 employees', '10000+ employees'] ,'Large')
df['Company Size'] = df['Company Size'].replace('1001 to 5000 employees','Medium')
df['Company Size'] = df['Company Size'].replace(['-1','1 to 50 employees', '51 to 200 employees', '201 to 500 employees','501 to 1000 employees'] ,'Small')
df

,Index,Job Title,Salary Estimate (In USD),Company Rating,Company Name,Company Size,Type,Industry,Sector,Revenue (in USD)
0,0,Data Scientist,171000,3.1,Healthfirst,Data Scientist,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,1,Data Scientist,171000,4.2,ManTech,Data Scientist,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,2,Data Scientist,171000,3.8,Analysis Group,Data Scientist,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,3,Data Scientist,171000,3.5,INFICON,Data Scientist,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,4,Data Scientist,171000,2.9,Affinity Solutions,Data Scientist,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
5,5,Data Scientist,171000,4.2,HG Insights,Data Scientist,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable
6,6,Data Scientist,171000,3.9,Novartis,Data Scientist,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD)
7,7,Data Scientist,171000,3.5,iRobot,Data Scientist,Company - Public,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD)
8,8,Data Scientist,171000,4.4,Intuit - Data,Data Scientist,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD)
9,9,Data Scientist,171000,3.6,XSELL Technologies,Data Scientist,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable
10,10,Data Scientist,171000,4.5,Novetta,Data Scientist,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD)
11,11,Data Scientist,171000,4.7,1904labs,Data Scientist,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...
660,660,Data Scientist,167000,,Pactera Edge,Data Scientist,,,,
661,661,Data Scientist,167000,3.6,Qurate Retail Group,Data Scientist,Company - Public,Other Retail Stores,Retail,Unknown / Non-Applicable
662,662,Data Scientist,167000,4.4,"SolutionIT, Inc.",Data Scientist,Company - Private,,,Unknown / Non-Applicable
663,663,Data Scientist,167000,4.1,A-Line Staffing Solutions,Data Scientist,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable
664,664,Data Scientist,167000,,Clear Ridge Defense,Data Scientist,Company - Private,,,Unknown / Non-Applicable
665,665,Data Scientist,167000,3.8,"Criterion Systems, Inc.",Data Scientist,Company - Private,IT Services,Information Technology,$50 to $100 million (USD)
666,666,Data Scientist,167000,4.0,Foundation Medicine,Data Scientist,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD)
667,667,Data Scientist,167000,3.6,TRANZACT,Data Scientist,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
668,668,Data Scientist,167000,,JKGT,Data Scientist,,,,
669,669,Data Scientist,167000,,AccessHope,Data Scientist,,,,
670,670,Data Scientist,167000,5.0,ChaTeck Incorporated,Data Scientist,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD)
671,671,Data Scientist,167000,2.7,1-800-Flowers,Data Scientist,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD)

In [564]:
#Replacing unknown revenue values with NULL
df['Revenue (in USD)'] = df['Revenue (in USD)'].replace(['-1', 'Unknown / Non-Applicable'] ,'')
df['Revenue (in USD)']

0
1          $1 to $2 billion (USD)
2      $100 to $500 million (USD)
3      $100 to $500 million (USD)
4
5
6              $10+ billion (USD)
7          $1 to $2 billion (USD)
8          $2 to $5 billion (USD)
9
10     $100 to $500 million (USD)
11
                  ...
660
661
662
663
664
665     $50 to $100 million (USD)
666    $100 to $500 million (USD)
667
668
669
670        $1 to $5 million (USD)
671        $1 to $2 billion (USD)
Name: Revenue (in USD), Length: 672, dtype: object

In [565]:

# writing the final dataframe to an excel file that we will use in our Tableau visualizations.
df.to_excel('Cleaned_Glassdoor_Job_Data.xlsx', sheet_name = 'Job_Data')